<web-app
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Transport for City - WEB Scheduler</display-name>
	<context-param>
		<description>Scheduler start delay in seconds.</description>
		<param-name>schedulerdelay</param-name>
		<param-value>60</param-value>
	</context-param>
	<context-param>
		<description>Scheduler jobs interval in seconds.</description>
		<param-name>schedulerjobinterval</param-name>
		<param-value>60</param-value>
	</context-param>
	<context-param>
		<description>Scheduler jobs random interval addition in seconds.</description>
		<param-name>schedulerjobintervalrandom</param-name>
		<param-value>60</param-value>
	</context-param>
</web-app>