<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<File
			name="tfc-ws-rest"
			fileName="tfc-ws-rest.log"
			append="false">
			<PatternLayout pattern="%t %-5p %c{1.} - %m%n" />
		</File>
		<Console
			name="STDOUT"
			target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %c{1.} - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger
			name="app.tfc"
			level="debug">
			<AppenderRef ref="tfc-ws-rest" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>