<web-app
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>Transport for City - REST WS</display-name>

    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>


<!--

   <servlet>
        <display-name>TFC REST WS Servlet</display-name>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <init-param>
            <param-name>javax.ws.rs.core.Application</param-name>
            <param-value>app.tfc.server.ws.rs.RestApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    -->

	<!--
		<servlet>
		<servlet-name>app.tfc.server.ws.rs.RestApplication</servlet-name>
		<servlet-class>app.tfc.server.ws.rs.RestApplication</servlet-class>
		<load-on-startup>1</load-on-startup>
		</servlet>
	-->

	<!--
		<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
		</servlet-mapping>
	-->

</web-app>
